<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1> 카테고리</h1>
    {% if category %}
    <h2>{% endif %}</h2>
    {% for category in categories %}
    <p><a href="/yuneediary/category/{{category.slug}}">{{ category }}</a></p>
    {% endfor %}
    <p>카테고리 미지정 : {{no_category_post_count}}</p>
    <h1><a href="/yuneediary/create_diary">글쓰기 </a></h1>
    {% for p in post_list%}
    <h1><a href="{{p.get_absolute_url}}"> {{p.title}} </a> </h1>
    <p> {{p.author}} {{p.createat}} {{p.updateat}}</p>
     
    <h2> {{p.content | truncatewords:5}} </h2>
    {% endfor %}

</body>
</html>